<div class="container mt-3">
    <div class="jumbotron">
        <h1 style="color:blue;">Ingrese datos</h1>
        <br />

        <div id="bienvenidaContainer" class="alert alert-primary" role="alert">
            <div id="mensajeBienvenida" class='lead'>
                <h4>Bienvenido {{nombreUsuario}}</h4>
            </div>
            <button onclick="location.href = '/user/logout'" type="button" class="btn btn-danger">Desloguearse</button>
        </div>


        <form onsubmit="return addProducto()">

            <div class="form-group">
                <label for="nombre"><b>Nombre</b></label>
                <input id="nombre" class="form-control" type="text" name="nombre" />
            </div>

            <div class="form-group">
                <label for="precio"><b>Precio</b></label>
                <input id="precio" class="form-control" type="number" name="precio" />
            </div>

            <div class="form-group">
                <label for="img"><b>URL de Imagen</b></label>
                <input id="img" class="form-control" type="text" name="img" />
            </div>

            <input type="submit" onclick="return agregarProducto()" class="btn btn-success mt-3 mb-5"
                value="Enviar"></input>
        </form>
    </div>
</div>
<div id="chatContainer">
    <section style="background-color: #eee;">
        <div class="container py-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-16 col-lg-12 col-xl-8">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center p-3"
                            style="border-top: 4px solid #ffa900;">
                            <h5 class="mb-0">Chat messages</h5>
                            <div class="d-flex flex-row align-items-center">
                                <i class="fas fa-minus me-3 text-muted fa-xs"></i>
                                <i class="fas fa-comments me-3 text-muted fa-xs"></i>
                                <i class="fas fa-times text-muted fa-xs"></i>
                            </div>
                        </div>
                        <div id="msjContainer" class="card-body overflow-auto" data-mdb-perfect-scrollbar="true"
                            style="position: relative; height: 400px">
                        </div>
                        <div
                            class="card-footer text-muted d-flex flex-column justify-content-start align-items-center p-5">
                            <div class="input-group mb-0">
                                <input id="email" type="email" class="form-control" placeholder="Ingrese su mail"
                                    aria-describedby="button-addon2" />
                                <input id="name" type="text" class="form-control" placeholder="Ingrese su nombre"
                                    aria-describedby="button-addon2" />
                                <input id="apellido" type="text" class="form-control" placeholder="Ingrese su apellido"
                                    aria-describedby="button-addon2" />
                                <input id="edad" type="number" class="form-control" placeholder="Ingrese su edad"
                                    aria-describedby="button-addon2" />
                            </div>
                            <div class="input-group mb-0">
                                <input id="alias" type="text" class="form-control" placeholder="Ingrese su alias"
                                    aria-describedby="button-addon2" />
                                <input id="avatar" type="url" class="form-control"
                                    placeholder="Ingrese url de imagen de avatar" aria-describedby="button-addon2" />
                            </div>
                            <div class="input-group mb-0">
                                <input id="text" type="text" class="form-control" placeholder="Ingrese su mensaje"
                                    aria-describedby="button-addon2" />
                                <button class="btn btn-warning" onclick="return agregarMensaje()" type="button"
                                    id="button-addon2" style="padding-top: .55rem;">
                                    Enviar Mensaje
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div style="width:100%;" class="tableContainer">
    <h2 style="text-align:center;">Lista de Productos</h2>
    <h2 style="color:crimson;text-align:center;">Historial</h2>
    {{#if hasProd}}
    <div id="tablaProd" class="table-responsive">
    </div>
    {{else}}
    <h2>No existen Productos</h2>
    {{/if}}
</div>

<script src="/index.js"></script>