<div id="despedidaContainer" class="alert alert-secondary" role="alert">
  <div id="mensajeDespedida" class='lead'>
    <h4>Hasta luego {{nombreUsuario}}</h4>
  </div>
  <button onclick="location.href = '/user/login'" type="button" class="btn btn-primary">al Login</button>
</div>
