<div style="width:100%;" class="tableContainer">
    <h2 style="text-align:center;">Lista de Productos</h2>
    <h2 style="color:crimson;text-align:center;">Historial</h2>
    {{#if hasProd}}
    <table class="table table-dark" style="text-align:center">
        <tr style="color: yellow;">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        {{#each data}}
        <tr>
            <td>
                {{nombre}}
            </td>
            <td>
                {{precio}}
            </td>
            <td>
                <img style="width:8vw;" src="{{url}}" alt="imagen de prod ${prod.id}">
            </td>
        </tr>
        {{/each}}
    </table>
    {{else}}
    <h2>No existen Productos</h2>
    {{/if}}
</div>