<div class="container text-center my-3 h-100 w-100">
    <div class="jumbotron overflow-auto align-middle d-flex flex-column h-100 w-100" style="background-color: salmon;">
        <h1>Lista numeros random</h1>
        <h3 class="align-middle d-flex flex-column h-100 w-100">{{randomObj}}</h3>
    </div>
</div>